<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "base.html" %}

{% block content %}
<h1>Установить права пользователям</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Ник в Telegram</th>
            <th>Права</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.role }}</td>
            <td>
                <form method="POST">
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <select name="role" class="form-control">
                        <option value="Пользователь" {% if user.role == 'Пользователь' %}selected{% endif %}>Пользователь</option>
                        <option value="Админ" {% if user.role == 'Админ' %}selected{% endif %}>Админ</option>
                    </select>
                    <button type="submit" class="btn btn-primary mt-2">Сохранить</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('index') }}" class="btn btn-primary">Главное меню</a>
{% endblock %}

</body>
</html>