<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "base.html" %}

{% block content %}
<h1>Отчет по запросам</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Получено запросов</th>
            <th>Получено ответов</th>
            <th>Запросы без ответа</th>
            <th>Запросы без ответа старше 30 дней</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ report.all_requests }}</td>
            <td>{{ report.answered_requests }}</td>
            <td>{{ report.unanswered_requests }}</td>
            <td>{{ report.overdue_requests }}</td>
        </tr>
    </tbody>
</table>
<a href="{{ url_for('index') }}" class="btn btn-primary">Главное меню</a>
{% endblock %}

</body>
</html>